<!DOCTYPE HTML>
<html xmlns:th="http://www.thymeleaf.org">
    <head>
        <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.0.2/dist/css/bootstrap.min.css" rel="stylesheet" integrity="sha384-EVSTQN3/azprG1Anm3QDgpJLIm9Nao0Yz1ztcQTwFspd3yD65VohhpuuCOmLASjC" crossorigin="anonymous">
    </head>

    <body>
        <h1 class="text-center">게시판</h1>
            <div class="container">
                <table class="table col-md-6">
                    <thead>
                    <tr>
                        <th scope="col" class="col-md-1">번호</th>
                        <th scope="col" class="col-md-4">제목</th>
                        <th scope="col" class="col-md-1">작성자</th>
                    </tr>
                    </thead>

                    <tbody>
                    <tr scope="row" th:each="post : ${posts}">

                        <td><a href="post" th:href="@{/board/{postId} (postId=${post.postId})}"
                               th:text="${post.postId}">게시물id</a></td>

                        <td><a href="post" th:href="@{/board/{postId} (postId=${post.postId})}"
                               th:text="${post.title}">게시물 제목</a></td>

                        <td th:text="${post.member.nickName}">작성자</td>

                    </tr>
                    </tbody>
                </table>

                <nav aria-label="Page navigation example">
                    <ul class="pagination offset-md-4">
                        <li class="page-item"><a class="page-link" th:href="@{/board/main/{page} (page=${pagination.prePageStartPage})}">Pre</a></li>

                        <div th:each=" page : ${pagesInCurrentBlock}">
                            <li class="page-item"><a class="page-link" th:text="${page}"
                                                     th:href="@{/board/main/{page} (page=${page})}">1</a></li>
                        </div>

                        <li class="page-item"><a class="page-link" th:href="@{/board/main/{page} (page=${pagination.nextPageStartPage})}">Next</a></li>
                    </ul>
                </nav>

                <div>
                    <button class="btn btn-primary" type="bitton" th:onclick="|location.href='@{/board/addPost}'|">글쓰기</button>     <!--리터럴 대체-->
                    <button class="btn btn-primary " type="button" onclick="location.href='main.html'"
                            th:onclick="|location.href='@{/}'|">메인으로</button>
                </div>
            </div>
        <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.0.2/dist/js/bootstrap.bundle.min.js" integrity="sha384-MrcW6ZMFYlzcLA8Nl+NtUVF0sA7MsXsP1UyJoMp4YLEuNSfAP+JcXn/tWtIaxVXM" crossorigin="anonymous"></script>
    </body>

</html>