<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head>
    <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.0.2/dist/css/bootstrap.min.css" rel="stylesheet" integrity="sha384-EVSTQN3/azprG1Anm3QDgpJLIm9Nao0Yz1ztcQTwFspd3yD65VohhpuuCOmLASjC" crossorigin="anonymous">
    <meta charset="utf-8">

    <style>
        .container {
                max-width: 560px;
            }
        .field-error {
                 border-color: #dc3545;
                 color: #dc3545;
            }
    </style>
</head>
<body>
<div class="container">

<form action="register.html" th:action method="post" th:object="${memberDto}">
    <div class="col-md-6 offset-md-2">
        <label for="memberEmail">이메일: </label>
        <input type="text" id="memberEmail" th:field="*{memberEmail}" th:errorclass="field-error">
        <div class="field-error" th:errors="*{memberEmail}">
            이메일 오류
        </div>
        <br>

        <label for="nickName">닉네임: </label>
        <input type="text" id="nickName" th:field="*{nickName}" th:errorclass="field-error">
        <div class="field-error" th:errors="*{nickName}">
            닉네임 오류
        </div>
        <br>

        <label for="password">비밀번호: </label>
        <input type="text" id="password" th:field="*{password}" th:errorclass="field-error">
        <div class="field-error" th:errors="*{password}">
            비밀번호 오류
        </div>
        <br>

        <button class="btn btn-primary " type="submit">회원가입</button>
        <button class="btn btn-info" type="button"
            onclick="location.href='index.html'"
            th:onclick="|location.href='@{/}'|">
            메인으로
        </button>
    </div>
</form>
<script src="https://cdn.jsdelivr.net/npm/bootstrap@5.0.2/dist/js/bootstrap.bundle.min.js" integrity="sha384-MrcW6ZMFYlzcLA8Nl+NtUVF0sA7MsXsP1UyJoMp4YLEuNSfAP+JcXn/tWtIaxVXM" crossorigin="anonymous"></script>
</div>
</body>
</html>